<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Will You?🔪</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Gluten:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">

    <link rel="icon"
        href="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExaHBscjR4Y2MweDV1cmxleDJlNTU2cmV6a3FzYW9nNGt1bHIwaGk5eiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/gWx3EkDJEFe5W/giphy.gif">
    <style>
        img {
            width: 200px;
            height: 200px;
        }

        body {
            background-color: #fdcfd1;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        #container {
            display: flex;
            flex-direction: column;
            gap: 30px;
            justify-content: center;
            align-items: center;
            display: none;
        }

        .buttons {
            padding: 9px;
            border-radius: 7px;
            border: 0;
            font-size: 1.5rem;
            display: flex;
            gap: 50px;
        }

        .buttons:hover {
            font-size: 1.7rem;
            transition: all 0.3s;
        }

        #text, #no, #yes, #back {
            font-size: 1.8rem;
            border: 0;
            padding: 10px;
            border-radius: 10px;
        }
        #yes {
            background-color: rgb(239, 69, 143);
            color: white;
        }

        #yes:active{
            box-shadow: 2px 2px 0px 1px white;
        }

        #no {
            background-color: rgb(239, 69, 143);
            color: white;
        }
        #no:active{
            box-shadow: 1.5px 1.5px 0px 1px white;
        }
        
        #back {
            background-color: rgb(239, 69, 143);
            color: white;
            font-size: 1.5rem;
        }
        #back:active{
            box-shadow: 1.5px 1.5px 0px 1px white;
        }

        .bubble {
            font-family: "Gluten", serif;
            font-weight: 600;
        } 
        
        #image{
            background-image: url(envelope.jpg);
            width: 400px;
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: opacity 1s ease-in-out;
        }
        #text{
            color: rgb(239, 69, 143);
        }
    </style>
</head>

<body>
    <div id="image" onclick="fadeOutBox()"></div>
    <div id="container">
        <h3 id="text" class="bubble">Will you be my <strong>GALENTINE✨</strong>?</h3>
        <img src="/typing.gif" alt="" id="gif">
        <div class="buttons">
            <button id="yes" class="bubble" onclick="yes()">Yes</button>
            <button id="no" onclick="no()" class="bubble">No</button>
        </div>
        <button id="back" class="bubble" onclick="back()">Question again? (do u have short memory)</button>
    </div>

</body>

<script>
    function yes() {
        document.getElementById('text').textContent = "I KNEW IT LMAOO💖✨"
        document.getElementById('gif').src = "/dance.gif"
    }
    function no() {
        document.getElementById('text').textContent = "WHAT!!! YOU DON'T WANT TO BEEEEE!!!????"
        document.getElementById('gif').src = "/cat.gif"
    }
    function back() {
        document.getElementById('text').textContent = "Will you be my GALENTINE✨?";
        document.getElementById('gif').src = "/typing.gif"; 
    }
    function fadeOutBox() {
        let box = document.getElementById("image");
        box.style.opacity = "0";
        setTimeout(() => {
            box.style.display = "none";
            document.getElementById("container").style.display = "flex";
        }, 1000); // Matches transition time
    }
</script>

</html>